[tool.poetry]
name = "pylic"
version = "0.0.17"
description = "Python license checker"
authors = ["Sandro Huber <sandrochuber@gmail.com>"]
license = "MIT License"

[tool.poetry.dependencies]
python = "^3.9"
toml = "^0.10.2"
importlib-metadata = "^3.7.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
mypy = "^0.800"
setuptools = "^53.0.0"
wheel = "^0.36.2"
twine = "^3.3.0"
taskipy = "^1.6.0"
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
pytest-mock = "^3.5.1"

[tool.taskipy.tasks]
release = "scripts/create_new_release.sh"
test = "pytest --cov=./ --cov-report=xml"

[tool.pylic]
allowed_licenses = [
    "Public Domain",
    "BSD License",
    "Apache Software License",
    "Apache License 2.0",
    "MIT License",
    "Python Software Foundation License",
    "Mozilla Public License 2.0 (MPL 2.0)",
    "GNU Library or Lesser General Public License (LGPL)",
    "Python Software Foundation License",
]

[tool.black]
line_length = 120

[tool.coverage.run]
omit = ["setup.py", "tests/*"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
