[tool.poetry]
name = "pylic"
version = "0.0.2"
description = "Python license checker"
authors = ["Sandro Huber <sandrochuber@gmail.com>"]
license = "MIT License"

[tool.poetry.dependencies]
python = "^3.9"
toml = "^0.10.2"
taskipy = "^1.6.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
mypy = "^0.800"
setuptools = "^53.0.0"
wheel = "^0.36.2"
twine = "^3.3.0"

[tool.taskipy.tasks]
build = "python3 setup.py sdist bdist_wheel"

[tool.pylic]
allowed_licenses = [
    'MIT',
    'BSD'
]
whitelisted_packages = [

]

[tool.black]
line_length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
