name: Integration tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  python-version-integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3   
    - name: Remove pylics own pyproject.toml
      run: rm pyproject.toml
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install toml importlib-metadata cleo
    - name: Create pyproject.toml and fill it with the necessary config (<= python 3.7)
      if: ${{ matrix.python-version == 3.7 }}
      run: |
        cat <<EOT >> pyproject.toml
        [tool.pylic]
        safe_licenses = ["Apache Software License", "MIT License", "Python Software Foundation License", "BSD License"]
        EOT
    - name: Create pyproject.toml and fill it with the necessary config (>= python 3.8)
      if: ${{ matrix.python-version == 3.8 || matrix.python-version == 3.9 || matrix.python-version == 3.10 || matrix.python-version == 3.11 }}
      run: |
        cat <<EOT >> pyproject.toml
        [tool.pylic]
        safe_licenses = ["Apache Software License", "MIT License", "BSD License"]
        EOT
    - name: Test with Python ${{ matrix.python-version }}
      run: |
        python -m pylic check
